body {
  text-align: center;
  font-family: sans-serif;
  background-color: black;
}
h1 {
  font-size: 50px;
  color: white;
}
.area {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 70vh;
  width: 70vh;
  border: 2px solid white;
  margin: 20px auto;
}
#row {
  display: flex;
  flex-grow: 1;
}
#column {
  border: 1px solid white;
  flex-grow: 1;
  background-color: papayawhip;
}
button {
  height: 30px;
  width: 130px;
  border-radius: 8%;
  background-color: rgb(230, 57, 70);
  border: 0px;
  color: white;
  margin: 0px 20px;

}
.reset {
  width: 80px;
}
button:hover{
  cursor: pointer;
  
}
.drawingStatus{
  font-size: larger;
  color : white ; 
  font-weight: bolder;
  margin-bottom: 10px;
}
